.dialog-btn {
  .btns {
    text-align: center;
    margin-top: 35px;

    .el-button {
      width: 134px;
      height: 38px;
      background: linear-gradient(90deg, rgba(6, 205, 174, 1) 0%, rgba(32, 222, 173, 1) 100%);
      border-radius: 21px;
      border: none;
      color: #fff;
      font-size: 14px;
    }

    .cancel {
      margin-left: 30px;
      background: #fff;
      color: #08CFAE;
      border-radius: 21px;
      border: 1px solid #08CFAE;
    }
  }
}
